.header{
    width: 1360px;
    height: 90px;
    background-color: #F9E0AE;
}

.header li{
    text-decoration: none;
    display: inline;
    float: right;
    margin-right: 20px;
}

.image {
    float: left;
}

.header button{
    float: right;
    width: 1 auto;
    background-color: coral;
}

.wrapper {
    width: 820px;
    margin: 0 auto;
}

.info-block-one {
    overflow: hidden;
}

.info-block-one button {
    background-color: sienna;
    color: aliceblue;
}

.info-block-one img {
    float: right;
}

.text {
    float: left;
    width: 500px;
}

/* info-block-two */

.info-block-two img {
    float: left;
}

.text2 {
    float: right;
}